{% extends "shop/base.html" %}
{% block content %}

<!-- Вывод сообщений системы -->
{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- Контент для пользователя -->
<div class='center'>  
   {% if user.is_authenticated %}
       <p>Добро пожаловать, {{ user.username }}</p>
       <a href="{% url 'login' %}">Вход</a>
       <a href="{% url 'register' %}">Регистрация</a>
   {% endif %}
</div>

{% endblock %}